<div class="container my-5">
    <div class="row">
        <h1 class='col'>Sermons</h1>
        <%= link_to "Create Sermon", new_sermon_path %>
    </div>
</div>

<!-- Deliver alerts and messages -->
<%= render 'partials/alerts' %>

<!-- Create a list card for each sermon  -->
<%= render 'partials/sermon_list_cards' %>

<!-- Pagination formating -->
<%= render 'partials/pagination', to_paginate: @page_sermons %>

<style>
    .photo-wrapper {
        width: 200px;
    }

    .hovered {
        -webkit-box-shadow: 23px 23px 12px -6px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 23px 23px 12px -6px rgba(0, 0, 0, 0.75);
        box-shadow: 23px 23px 12px -6px rgba(0, 0, 0, 0.75);
    }

    .card {
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
    }
</style>
<!-- Scripts for index pages -->
<%= javascript_include_tag 'indexScripts' %>