<% flash.each do |msg, type| %>
<p class="alert alert-success"><%= type %></p>
<% end %>
<h2><%= @sermon.title %></h2>
<p><%= @sermon.description %></p>
<p><%= @sermon.sermon_time %></p>
<% if @sermon.sermonPic.attached? %>
<img height="500px" width="500px" src="<%=(url_for(@sermon.sermonPic))%>">
<% end %>
<p><%= @sermon.series_id %></p>
<button id="editBtn" type="button" class="btn btn-primary">Edit Sermon</button>
<%= form_for :sermon, url: sermon_path, method: "delete" do |f| %>
<p>
    <%= f.submit("Delete Sermon", {:class => 'btn btn-danger'}) %>
</p>
<% end %>

<div class="backdrop d-none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Sermon</h5>
                <button id="closeBtn" type="button" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-4">
                <%= form_for :sermon, url: sermon_path, method: "patch" do |f| %>
                <% if @sermon.errors.any? %>
                <% @sermon.errors.full_messages.each do |msg| %>
                <div class='alert alert-danger'><%= msg %></div>
                <% end %>
                <% end %>
                <p>
                    <%= f.label :title %><br />
                    <%= f.text_field(:title, {:class => 'form-control'}) %>
                </p>

                <p>
                    <%= f.label :description %><br />
                    <%= f.text_area(:description, {:class => 'form-control'}) %>
                </p>

                <p>
                    <%= f.label "Update Series?" %><br />
                    <%= f.collection_select(:series_id, @series.order(:id), :id, :title, include_blank: true) %>
                </p>

                <p>
                    <%= f.label "Sermon Photo" %><br />
                    <%= f.file_field(:sermonPic, {:class => 'form-control'}) %>
                </p>

                <p>
                    <%= f.submit({:class => 'btn btn-primary'}) %>
                </p>
                <% end %>
            </div>
        </div>
    </div>
</div>

<style>
    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgb(0, 0, 0, 0.6);
    }

    .modal-dialog {
        top: 15vh;
    }
</style>
<script>
    $('#editBtn').on('click', () => {
        $('.backdrop').toggleClass('d-none');
    });

    $('#closeBtn').on('click', () => {
        $('.backdrop').toggleClass('d-none');
    });

    $(document).ready(function() {
        setTimeout(function() {
            $('.alert').fadeOut();
        }, 3000);
    })
</script>