<!-- Deliver alerts and messages -->
<% flash.each do |msg, type| %>
<% if(msg == 'notice') %>
<p class="alert alert-success"><%= type %></p>
<% else %>
<p class="alert alert-danger"><%= type %></p>
<% end %>
<% end %>

<!-- Main Container -->
<div class="container">
    <div class="card mx-auto">
        <div class="mx-auto" style="width: 500px">
            <!-- Check if series/sermon pic exists -->
            <% if @sermon.sermonPic.attached? %>
            <img class="card-img-top" height="500px" width="500px" src="<%=(url_for(@sermon.sermonPic))%>">
            <% elsif @sgl_series.seriesPic.attached? %>
            <img class="card-img-top" height="500px" width="500px" src="<%=(url_for(@sgl_series.seriesPic))%>">
            <% else %>
            <img height="500px" width="500px" src="<%=(image_path('churchsquare.jpg'))%>" class="card-img-top" alt="church square">
            <% end %>
        </div>
        <!-- Sermon card formating -->
        <div class="card-footer text-muted">
            <% if @sgl_series.id != 0 %>
            <div class="row">
                <p class="mr-auto my-auto">Series: <%= link_to (@sgl_series.title), series_path(@sgl_series.slug) %></p>
            </div>
            <% end  %>
            <div class="row">
                <p class="mr-auto my-auto"><%= I18n.l(@sermon.sermon_time, format: :long, locale: :'en-US') %></p>
                <i class="my-auto float-right fas fa-cog"></i>
            </div>
        </div>
        <div class="card-body">
            <h2 class="card-title"><%= @sermon.title %></h2>
            <p class="card-text"><%= @sermon.description %></p>
        </div>
        <div class="card-footer button-wrapper d-none text-muted">
            <div class="row px-3">
                <button id="editBtn" type="button" class="mr-auto btn btn-primary">Edit Sermon</button>
                <!-- Delete sermon btn setup  -->
                <%= form_for :sermon, url: sermon_path, method: "delete" do |f| %>
                <p>
                    <%= f.submit("Delete",{class: "float-right btn btn-danger", data: { confirm: "Are you sure?"}} ) %>
                </p>
                <% end %>
            </div>
        </div>
    </div>
</div>

<!-- Setup update modal -->
<div class="backdrop d-none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Sermon</h5>
                <button id="closeBtn" type="button" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-4">
                <%= form_for :sermon, url: sermon_path, method: "patch" do |f| %>
                <% if @sermon.errors.any? %>
                <% @sermon.errors.full_messages.each do |msg| %>
                <div class='alert alert-danger'><%= msg %></div>
                <% end %>
                <% end %>
                <p>
                    <%= f.label :title %><br />
                    <%= f.text_field(:title, {:class => 'form-control'}) %>
                </p>

                <p>
                    <%= f.label :description %><br />
                    <%= f.text_area(:description, {:class => 'form-control'}) %>
                </p>

                <p>
                    <%= f.label "Update Series?" %><br />
                    <%= f.collection_select(:series_id, @series.order(:id), :id, :title, include_blank: false) %>
                </p>

                <p>
                    <%= f.label "Sermon Photo" %><br />
                    <%= f.file_field(:sermonPic, {:class => 'form-control'}) %>
                </p>

                <% if @sermon.sermonPic.attached? %>
                <p>
                    <%= link_to 'Remove Current Sermon Photo', delete_image_attachment_sermon_url(@sermon.sermonPic.id),
                method: :delete %>
                </p>
                <% else %>
                <p class="text-danger">No Sermon Picture Attached - Showing Series</p>
                <% end %>

                <p>
                    <%= f.submit({:class => 'btn btn-primary'}) %>
                </p>
                <% end %>
            </div>
        </div>
    </div>
</div>

<style>
    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgb(0, 0, 0, 0.6);
    }

    .modal-dialog {
        top: 15vh;
    }
</style>
<script>
    $('#editBtn').on('click', () => {
        $('.backdrop').toggleClass('d-none');
    });

    $('#closeBtn').on('click', () => {
        $('.backdrop').toggleClass('d-none');
    });

    $('.fa-cog').click((e) => {
        if ($('.button-wrapper').hasClass('d-none')) {
            $('.button-wrapper').removeClass('d-none');
        } else {
            $('.button-wrapper').addClass('d-none');
        }

    });

    $(document).ready(function() {
        $('select').addClass('form-control');

        setTimeout(function() {
            $('.alert').fadeOut();
        }, 3000);
    });
</script>