<h2><%= @sermon.title %></h2>
<p><%= @sermon.description %></p>
<p><%= @sermon.sermon_time %></p>
<% if @sermon.sermonPic.attached? %>
    <img height="500px" width="500px" src="<%=(url_for(@sermon.sermonPic))%>">
<% end %>
<p><%= @sermon.series_id %></p>
<button id="editBtn" type="button" class="btn btn-danger">Edit Sermon</button>

<div class="backdrop d-none">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Sermon</h5>
        <button id="closeBtn" type="button" class="close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">
        <form>
          <div class="form-group text-left">
            <label for="name">Title</label>
            <input
              class="form-control"
              type="text"
              name="title"
              value="<%= @sermon.title %>"
            />
          </div>
          <div class="form-group text-left">
            <label for="email">Decription</label>
            <textarea
              class="form-control"
              name="description"
              ><%= @sermon.description %></textarea>
          </div>
          <div class="form-group text-left">
            <label for="amount">Sermon Picture</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><% if @sermon.sermonPic.attached? %><img height="50px" width="50px" src="<%=(url_for(@sermon.sermonPic))%>"><% end %></div>
              </div>
              <input id="sermonPic" type="file" class="form-control" />
            </div>
          </div>
          <div class="form-group text-left">
            <label for="amount">Sermon Series?</label>
            <select id="seriesPicker" class="form-control" >
                <% @series.each do |series| %>
                    <option value="<%= series.id %>"><%= series.title %></option>
                <% end %>
            </select>
          </div>
          <button id="confirmBtn" type="button" class="btn btn-lg btn-success my-2">Confirm</button>
        </form>
      </div>
    </div>
  </div>
</div>

<style>
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0, 0.6);
}

.modal-dialog {
  top: 15vh;
}
</style>

<script>
    document.querySelector('#confirmBtn').addEventListener('click', (e) => {
        let data = {
            title: document.querySelector('[name=title]').value,
            description: document.querySelector('[name=description]').value,
            sermonPic: document.querySelector('#sermonPic').value,
            series_id: document.querySelector('#seriesPicker').value
        }

        console.log(data);
        fetch('/sermons/<%= @sermon.id %>', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data)
        })
        .then(res => {
            console.log(res)
        })
        .catch(err => {
            console.log(err)
        })
    });


    document.querySelector('#editBtn').addEventListener('click', () => {
        document.querySelector('.backdrop').classList.toggle('d-none');
    });

    document.querySelector('#closeBtn').addEventListener('click', () => {
        document.querySelector('.backdrop').classList.toggle('d-none');
    });
</script>