<div class="container my-5">
    <div class="row">
        <h1 class='col'>Series</h1>
        <%= link_to "Create Series", new_series_path %>
    </div>
</div>

<!-- Deliver alerts and messages -->
<%= render 'partials/alerts' %>

<!-- Create a list card for each series  -->
<% @page_series.each do |series| %>
<div class='card bg-light card-body my-5'>
    <div class="row no-gutters">
        <div class="col">
            <div class="photo-wrapper">
                <% if series.seriesPic.attached? %>
                <img height="200px" width="200px" src="<%=(url_for(series.seriesPic))%>">
                <% else %>
                <img height="200px" width="200px" src="<%=(image_path('churchsquare.jpg'))%>" class="card-img" alt="church square">
                <% end %>
            </div>
        </div>
        <div class="col-md-8 my-auto">
            <div class="card-body">
                <h2 class="card-title"><%= series.title %></h2>
                <%= link_to "Explore Sermons in this Series", series_path(series), :class => 'btn btn-primary' %>
            </div>
        </div>
    </div>
</div>
<% end %>

<!-- Pagination formating -->
<%= render 'partials/pagination', to_paginate: @page_series %>

<style>
    .photo-wrapper {
        width: 200px;
    }

    .hovered {
        -webkit-box-shadow: 23px 23px 12px -6px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 23px 23px 12px -6px rgba(0, 0, 0, 0.75);
        box-shadow: 23px 23px 12px -6px rgba(0, 0, 0, 0.75);
    }
</style>
<!-- Scripts for index pages -->
<%= javascript_include_tag 'indexScripts' %>