<!-- Deliver alerts and messages -->
<% flash.each do |msg, type| %>
<% if(msg == 'notice') %>
<p class="alert alert-success"><%= type %></p>
<% else %>
<p class="alert alert-danger"><%= type %></p>
<% end %>
<% end %>

<!-- Main Container -->
<div class="container">
    <div class="card mx-auto">
        <div class="mx-auto" style="width: 500px">
            <!-- Check if series pic exists -->
            <% if @series.seriesPic.attached? %>
            <img height="500px" width="500px" src="<%=(url_for(@series.seriesPic))%>">
            <% else %>
            <img height="500px" width="500px" src="<%=(image_path('churchsquare.jpg'))%>" class="card-img-top" alt="church square">
            <% end %>
        </div>
        <div class="card-footer">
            <div class="row px-2">
                <h2 class="card-title mr-auto my-auto"><%= @series.title %></h2>
                <i class="my-auto float-right fas fa-cog"></i>
            </div>
        </div>
        <div class="card-footer button-wrapper d-none text-muted">
            <div class="row px-3">
                <button id="editBtn" type="button" class="btn btn-primary mr-auto">Edit Series</button>
                <!-- Delete series btn setup  -->
                <%= form_for :series, url: series_path, method: "delete" do |f| %>
                <p>
                    <%= f.submit("Delete Series", {:class => 'float-right btn btn-danger', data: { confirm: "Are you sure?" }}) %>
                </p>
                <% end %>
            </div>
        </div>
        <!-- Create a list card for each sermon  -->
        <div class="card-body">
            <% @page_sermons.each do |sermon| %>
            <div class='card bg-light card-body my-2'>
                <div class="row no-gutters">
                    <div class="col">
                        <div class="photo-wrapper">
                            <!-- Check if sermon pic exists -->
                            <% if sermon.sermonPic.attached? %>
                            <img height="200px" width="200px" src="<%=(url_for(sermon.sermonPic))%>">
                            <!-- if not, use series -->
                            <% elsif @series.seriesPic.attached? %>
                            <img height="200px" width="200px" src="<%=(url_for(@series.seriesPic))%>" class="card-img" alt="church square">
                            <!-- if not, use default -->
                            <% else %>
                            <img height="200px" width="200px" src="<%=(image_path('churchsquare.jpg'))%>" class="card-img" alt="church square">
                            <% end %>
                        </div>
                    </div>
                    <div class="col-md-8 my-auto">
                        <!-- Inner sermon card formating -->
                        <div class="card-body">
                            <h4 class="card-title"><%= sermon.title %></h4>
                            <p class="card-text"><%= truncate(sermon.description, length: 250) %></p>
                            <p class="card-text"><small class="text-muted"><%= I18n.l(sermon.sermon_time, format: :long, locale: :'en-US') %></small></p>
                            <%= link_to "Read More", sermon_path(sermon), :class => 'btn btn-primary' %>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>

            <!-- Pagination formating -->
            <div class="digg_pagination">
                <div class="page_info">
                    <%= page_entries_info @page_sermons %>
                </div>
                <%= will_paginate @page_sermons, :container => false %>
            </div>
        </div>
    </div>
</div>

<!-- Setup update modal -->
<div class="backdrop d-none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Series</h5>
                <button id="closeBtn" type="button" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-4">
                <%= form_for :series, url: series_path, method: "patch" do |f| %>
                <% if @series.errors.any? %>
                <% @series.errors.full_messages.each do |msg| %>
                <div class='alert alert-danger'><%= msg %></div>
                <% end %>
                <% end %>
                <p>
                    <%= f.label :title %><br />
                    <%= f.text_field(:title, {:class => 'form-control'}) %>
                </p>

                <p>
                    <%= f.label "Series Photo" %><br />
                    <%= f.file_field(:seriesPic, {:class => 'form-control'}) %>
                </p>

                <% if @series.seriesPic.attached? %>
                <p>
                    <%= link_to 'Remove Current Series Photo', delete_image_attachment_series_path(@series.seriesPic.id),
                method: :delete %>
                </p>
                <% else %>
                <p class="text-danger">No Series Picture Attached - Showing Default</p>
                <% end %>

                <p>
                    <%= f.submit({:class => 'btn btn-primary'}) %>
                </p>
                <% end %>
            </div>
        </div>
    </div>
</div>

<style>
    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgb(0, 0, 0, 0.6);
    }

    .modal-dialog {
        top: 15vh;
    }

    .photo-wrapper {
        width: 200px;
    }

    .hovered {
        -webkit-box-shadow: 23px 23px 12px -6px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 23px 23px 12px -6px rgba(0, 0, 0, 0.75);
        box-shadow: 23px 23px 12px -6px rgba(0, 0, 0, 0.75);
    }
</style>
<script>
    $('#editBtn').on('click', () => {
        $('.backdrop').toggleClass('d-none');
    });

    $('#closeBtn').on('click', () => {
        $('.backdrop').toggleClass('d-none');
    });

    $('.fa-cog').click((e) => {
        if ($('.button-wrapper').hasClass('d-none')) {
            $('.button-wrapper').removeClass('d-none');
        } else {
            $('.button-wrapper').addClass('d-none');
        }

    });

    $(document).ready(function() {
        $('select').addClass('form-control');

        setTimeout(function() {
            $('.alert').fadeOut();
        }, 3000);
    })
</script>